
{% extends "base.html" %}
{% load static %}
{% comment %} {% load socialaccount %} {% endcomment %}

{% block page_content %}

  <div class="container mb-3">
    <div class="row">
      <div class="col-md-6 pb-5">
        
        <form class="needs-validation wizard" method="POST" >
         <div class="wizard-body pt-2">
            <div class="d-sm-flex justify-content-between pb-2"><a class="btn btn-secondary btn-sm btn-block my-2 mr-3" href="#"><i class="socicon-facebook"></i>&nbsp;register</a><a class="btn btn-secondary btn-sm btn-block my-2 mr-3" href="#"><i class="socicon-twitter"></i>&nbsp;register</a><a class="btn btn-secondary btn-sm btn-block my-2 mr-3" href="#"><i class="socicon-linkedin"></i>&nbsp;register</a></div>
            <hr>
            <h3 class="h5 pt-4 pb-2">Or using form below</h3>
            <div class="row">
              <div class="col-sm-12">
                {% if form.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{form.errors}}
                </div>
                {% endif %}
                
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  
                  <label for="reg-fn"> Username</label>
                    {{ form.username }}
                  
                  <div class="invalid-feedback">Please enter your first name!</div>
                </div>
              </div>
             
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-email">E-mail Address</label>
                    {{ form.email }}

                    
                  <div class="invalid-feedback">Please enter valid email address!</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-phone">Phone</label>
                  <input class="form-control" name="phone" type="number" />

                  <div class="invalid-feedback">Please enter your phone number!</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-phone">Password</label>
                  {{ form.password1 }}

                  <div class="invalid-feedback">Please enter your phone number!</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-phone">Confirm Password</label>
                  {{ form.password2 }}
                  <div class="invalid-feedback">Please enter your phone number!</div>
                </div>
              </div>
            
            </div>
            
          </div> 
          {% csrf_token %}
      

          {% comment %} {% for field in form %}
              {{field.label}}
              {{field}}

          
          {% endfor %} {% endcomment %}

          {% comment %} {{ form.as_p }} {% endcomment %}
          <div class="wizard-footer text-right">
            <input class="btn btn-primary" type="submit" name="userSubmit" value="Create Account"/>
          </div>
        </form>
      </div>
      <div class="col-md-6 pb-0">
      
              <section class="container py-0 my-0 my-md-0" id="services">
                  <!-- <h2 class="h3 block-title text-center">We provide tranings in</h2> -->
                  <div class="row pt-0">
                    <!-- Service-->
                    <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
                        <div class="d-sm-table-cell align-top">
                          <div class="icon-box-image"><img src="{% static 'img/components/icon-box/04.png' %}  " alt="Image icon"></div>
                        </div>
                        <div class="d-sm-table-cell align-top pl-sm-4">
                          <h3 class="icon-box-title">Monitoring ranking</h3>
                          <!-- <p class="icon-box-text text-sm mb-0">Proin nec turpis vel tortor venenatis tempus. Sed mollis vel arcu in tempor. Mauris enim purus, laoreet nec elit non, euismod venenatis mi. Curabitur quis vehicula metus, eget ultrices quam.</p> -->
                        </div></a></div>
                    <!-- Service-->
                    <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
                        <div class="d-sm-table-cell align-top">
                          <div class="icon-box-image"><img src="{% static 'img/components/icon-box/05.png' %} " alt="Image icon"></div>
                        </div>
                        <div class="d-sm-table-cell align-top pl-sm-4">
                          <h3 class="icon-box-title">Pay per click</h3>
                          <!-- <p class="icon-box-text text-sm mb-0">Proin nec turpis vel tortor venenatis tempus. Sed mollis vel arcu in tempor. Mauris enim purus, laoreet nec elit non, euismod venenatis mi. Curabitur quis vehicula metus, eget ultrices quam.</p> -->
                        </div></a></div>
                    <!-- Service-->
                    <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
                        <div class="d-sm-table-cell align-top">
                          <div class="icon-box-image"><img src="{% static '/img/components/icon-box/06.png' %} " alt="Image icon"></div>
                        </div>
                        <div class="d-sm-table-cell align-top pl-sm-4">
                          <h3 class="icon-box-title">Google analytics</h3>
                          <!-- <p class="icon-box-text text-sm mb-0">Proin nec turpis vel tortor venenatis tempus. Sed mollis vel arcu in tempor. Mauris enim purus, laoreet nec elit non, euismod venenatis mi. Curabitur quis vehicula metus, eget ultrices quam.</p> -->
                        </div></a></div>
                    <!-- Service-->
                    <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
                        <div class="d-sm-table-cell align-top">
                          <div class="icon-box-image"><img src="{% static '/img/components/icon-box/02.png' %} " alt="Image icon"></div>
                        </div>
                        <div class="d-sm-table-cell align-top pl-sm-4">
                          <h3 class="icon-box-title">Social marketing</h3>
                          <!-- <p class="icon-box-text text-sm mb-0">Proin nec turpis vel tortor venenatis tempus. Sed mollis vel arcu in tempor. Mauris enim purus, laoreet nec elit non, euismod venenatis mi. Curabitur quis vehicula metus, eget ultrices quam.</p> -->
                        </div></a></div>
                    <!-- Service-->
                    <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
                        <div class="d-sm-table-cell align-top">
                          <div class="icon-box-image"><img src="{% static '/img/components/icon-box/07.png' %} " alt="Image icon"></div>
                        </div>
                        <div class="d-sm-table-cell align-top pl-sm-4">
                          <h3 class="icon-box-title">Email marketing</h3>
                          <!-- <p class="icon-box-text text-sm mb-0">Proin nec turpis vel tortor venenatis tempus. Sed mollis vel arcu in tempor. Mauris enim purus, laoreet nec elit non, euismod venenatis mi. Curabitur quis vehicula metus, eget ultrices quam.</p> -->
                        </div></a></div>
                    <!-- Service-->
                    <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
                        <div class="d-sm-table-cell align-top">
                          <div class="icon-box-image"><img src="{% static 'img/components/icon-box/03.png' %} " alt="Image icon"></div>
                        </div>
                        <div class="d-sm-table-cell align-top pl-sm-4">
                          <h3 class="icon-box-title">Map optimization</h3>
                          <!-- <p class="icon-box-text text-sm mb-0">Proin nec turpis vel tortor venenatis tempus. Sed mollis vel arcu in tempor. Mauris enim purus, laoreet nec elit non, euismod venenatis mi. Curabitur quis vehicula metus, eget ultrices quam.</p> -->
                        </div></a></div>
                  </div>
                  <!-- <div class="text-center pt-2"><a class="btn btn-primary" href="services.html">More >></a></div> -->
                </section>
            <!-- </div> -->
        
      </div>
    </div>
  </div>

{% endblock %}
