
{% extends "base.html" %}
{% load static %}


{% block page_content %}

  <div class="container mb-3">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6 pb-5 pt-30 ml-30">
          <form  method="post">
            {% csrf_token %}

            <div class="wizard-body pt-2">
              {% comment %} <div class="d-sm-flex justify-content-between pb-2"><a class="btn btn-secondary btn-sm btn-block my-2 mr-3" href="#"><i class="socicon-facebook"></i>&nbsp;Login</a><a class="btn btn-secondary btn-sm btn-block my-2 mr-3" href="#"><i class="socicon-twitter"></i>&nbsp;Login</a><a class="btn btn-secondary btn-sm btn-block my-2 mr-3" href="#"><i class="socicon-linkedin"></i>&nbsp;Login</a></div> {% endcomment %}
              <hr>
              <h3 class="h5 pt-4 pb-2">Login to your Account</h3>
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags%}<div  class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>{% endif %}
                {% endfor %}
              {% endif %}
            
              <div class="input-group form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-mail"></i></span></div>
                <input class="form-control" name="username" type="text" placeholder="Username" required>
                <div class="invalid-feedback">Please enter your email!</div>
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-lock"></i></span></div>
                <input class="form-control" name="password" type="password" placeholder="Password" required>
                <div class="invalid-feedback">Please enter valid password!</div>
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" checked id="remember-me">
                  <label class="custom-control-label" for="remember-me">Remember me</label>
                </div><a class="navi-link" href="account-password-recovery.html">Forgot password?</a>
              </div>
            

              <a href="{% url 'profile' %}">Back to dashboard</a>
            </div>
            <div class="wizard-footer text-right">
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
          </form>
      </div>
      <div class="col-md-3"></div>

    </div>
  </div>

{% endblock %}
